<mat-card style="text-align:center">
  <mat-card-title>
    <h1>More Info about {{ ( (weather$ | async)![hour].dt) * 1000| date:'shortTime'}}</h1>
  </mat-card-title>
  <mat-card-content>
    <p>Weather : {{ (weather$ | async)![hour]['weather'][0].description}}</p>
    <p>Temperature : {{ (weather$ | async)![hour].temp}}C</p>
    <p>Humidity : {{ (weather$ | async)![hour].humidity}}</p>
    <p>Wind Speed : {{ (weather$ | async)![hour].wind_speed}}</p>
    <p>Ultraviolet Index : {{ (weather$ | async)![hour].uvi}}</p>
    <div>
      <button mat-raised-button (click)="goBack()">Back</button>
      <button mat-raised-button (click)="saveHour()">Add to Saved Hours</button>
    </div>
  </mat-card-content>
</mat-card>
