.cardImg {
  height: 300px;
  width: 300px
}

.rainClass {
  background-color: #118ab2;
  padding: 2%;
  margin: 2%;
  text-align: center;
  justify-items: center;
  text-justify: center;
}

.clearClass {
  background-color: #ffd166;
  padding: 2%;
  margin: 2%;
  text-align: center;
  justify-items: center;
  text-justify: center;
}

.darkClass {
  background-color: #e0e1dd;
  padding: 2%;
  margin: 2%;
  text-align: center;
  justify-items: center;
  text-justify: center;
}
